<!-- yield from crb display_contacts.erb  fields below specified--> -->

<div class ="contact">
  <p>Name: <%= @contact.full_name %></p>
  <p>Email: <%= @contact.email %></p>
  <p>Notes: <%= @contact.note %></p>
</div>
