<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title>MyCRM</title>
  </head>
  <body>

      <header>
        <h1>Bitmaker CRM</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/index">Welcome to My CRM</a></li> -->
            <li><a href="/">Add a contact</a></li>
            <!-- <li><a href="/contacts">All Contacts</a></li> -->
            <li><a href="/about_me">About </a></li>
          </ul>
        </nav>
      </header>

      <main>
        <%= yield %>
      </main>

      <footer>
        <!-- <p>Copyright Bitmaker 2018</p> -->
          <p>&#169; Bitmaker 2018</p>
      </footer>


  </body>
</html>
